.advantages__title {
  @include example-title;
  margin-bottom: 40px;

  @media #{$media-md} {
    margin-bottom: 60px;
  }
}

.advantages__item {
  @include index-subtitle;
  margin-bottom: 25px;

  @media #{$media-md} {
    width: 250px;
  }
}

.advantages__list {
  margin: 0;

  @media #{$media-md} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 59px;
    row-gap: 100px;
  }

  @media #{$media-lg} {
    grid-template-columns: repeat(4, 1fr);
  }
}
