.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  background-color: $basic-green;
  color: $basic-white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  width: 100%;

  &:hover {
    background-color: $special-green;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  &--all {
    color: $special-dark-grey;
    background-color: $basic-grey;
    margin-bottom: 25px;

    @media #{$media-md} {
      margin-bottom: inherit;
    }

    &:hover {
      background-color: $special-grey;
    }

    &:active {
      color: $special-dark-grey;
      opacity: 0.5;
    }
  }

  &--submit {
    margin-bottom: 20px;

    @media #{$media-md} {
      max-width: 282px;
      margin-bottom: inherit;
      margin-right: 60px;
    }

    @media #{$media-lg} {
      max-width: 568px;
      margin-right: 80px;
    }
  }

  &--order-first {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 25px;

    @media #{$media-md} {
      margin-bottom: inherit;
    }
  }

  &--order-second {
    @media #{$media-md} {
      grid-column-start: 1;
      grid-column-end: -1;
      margin-top: 25px;
    }

    @media #{$media-lg} {
      max-width: 244px;
      margin-left: 53px;
      grid-column-start: inherit;
      grid-column-end: inherit;
      margin-top: 0;
    }
  }
}
