.container {
  max-width: $mobile;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  &--header {
    display: flex;
    flex-direction: column;
  }

  &--example {
    padding-top: 27px;
    padding-bottom: 35px;
  }

  @media #{$media-md} {
    max-width: none;
    width: $tablet;
    padding-right: 30px;
    padding-left: 30px;

    &--header {
      flex-direction: row;
      justify-content: space-between;
    }

    &--special {
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  @media #{$media-lg} {
    width: $desktop;
    padding-right: 110px;
    padding-left: 110px;

    &--map {
      position: absolute;
      background-color: $basic-white;
      width: 570px;
      top: 70px;
      left: 110px;
      padding: 0;
    }
  }
}
