.example {
  background-color: $additional-grey;

  @media #{$media-md} {
    background-image: linear-gradient(0deg, #eaeaea 43%, #ffffff 43% 100%);
  }
}

.example__title {
  @include example-title;
  margin-bottom: 33px;

  @media #{$media-lg} {
    margin-bottom: 63px;
  }
}

.example__subtitle {
  @include index-subtitle;
}

.example__result {
  display: flex;
  flex-wrap: wrap;
}

.example__result-costs {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  @media #{$media-md} {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: inherit;
    font-size: 20px;
  }
}

.example__result-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 124px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &:nth-child(1) {
    margin-right: 32px;

    @media #{$media-md} {
      margin-right: 42px;
    }
  }

  &:nth-child(2) {
    @media #{$media-md} {
      margin-right: 244px;
    }
  }
}

.example__result-title {
  position: absolute;
  font-family: $add-font;
  color: $special-dark-grey;
  background-color: $additional-grey;
  top: 44px;
  left: 18px;
  max-width: 87px;
  order: 1;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding: 0 10px;

  @media #{$media-md} {
    top: 60px;
  }
}

.example__result-description {
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media #{$media-md} {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__button {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media #{$media-md} {
    font-size: 20px;
    line-height: 30px;
  }
}
