.example {
  background-color: $additional-grey;
}

.example__subtitle {
  @include index-subtitle;
}

.example__result-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 124px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__result-title {
  position: absolute;
  top: 19px;
  left: 25px;
  order: 1;
  font-size: 12px;
  line-height: 12px;
}

.example__result-description {
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  line-height: 24px;
}
