.example {
  background-color: $additional-grey;
}

.example__title {
  @include example-title;
}

.example__subtitle {
  @include index-subtitle;
}

.example__result-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 124px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__result-title {
  position: absolute;
  font-family: $add-font;
  color: $special-dark-grey;
  background-color: $additional-grey;
  top: 44px;
  left: 18px;
  max-width: 87px;
  order: 1;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding: 0 10px;
}

.example__result-description {
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
