.extra-products__profit {
  color: $basic-white;
  background-color: $basic-green;
  font-family: $add-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.extra-products__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra-products__title {
  color: $special-light-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.extra-products__cell {
  font-family: $add-font;
  color: $special-light-black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

