.extra-products {
  margin-bottom: 35px;

  @media #{$media-md} {
    margin-bottom: 75px;
  }

  @media #{$media-lg} {
    margin-bottom: 85px;
  }
}

.extra-products__wrapper {
  @media #{$media-lg} {
    display: flex;
  }
}

.extra-products__list {
  margin-bottom: 40px;

  @media #{$media-md} {
    margin-bottom: 70px;
  }

  @media #{$media-lg} {
    width: 895px;
    margin-bottom: inherit;
    margin-right: 80px;
    border: none;
  }
}

.extra-products__item {
  padding-top: 13px;
  padding-bottom: 20px;
  border-top: 1px solid $special-border-grey;

  &:last-child {
    border-bottom: 1px solid $special-border-grey;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    border-top: none;
  }

  @media #{$media-md} {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 35px;
    border: 1px solid $special-border-grey;
  }

  @media #{$media-lg} {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-top: 1px solid $special-border-grey;

    &:last-child {
      border-bottom: 1px solid $special-border-grey;
    }
  }
}

.extra-products__profit {
  position: relative;
  color: $basic-white;
  background-color: $basic-green;
  font-family: $add-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/gift-mobile.jpg");
  height: 289px;
  padding-top: 185px;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;

  &::before {
    position: absolute;
    content: " ";
    width: 78px;
    height: 80px;
    top: 60px;
    left: 100px;
    background-image: url("../img/icon-gift.svg");
  }

  @media (min-width: $tablet) and (max-width: 1439px) {
    height: 200px;
    background-image: url("../img/gift-tablet.jpg");
    padding-top: 85px;

    &::before {
      top: 60px;
      left: 80px;
    }
  }

  @media #{$media-lg} {
    width: 245px;
    background-image: url("../img/gift-desktop.jpg");
    padding-left: 42px;
    padding-right: 42px;

    &::before {
      left: 80px;
    }
  }
}

.extra-products__legend {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media #{$media-md} {
    margin-bottom: 80px;
  }
}

.extra-products__title {
  margin: 0;
  color: $special-light-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @media #{$media-md} {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-products__cell {
  font-family: $add-font;
  color: $special-light-black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
