.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;

  @media #{$media-md} {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.footer__logo {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $special-light-grey;
  padding-bottom: 30px;
  margin-bottom: 25px;

  @media #{$media-md} {
    width: inherit;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
