.form__fieldset {
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.form__legend {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form__text,
.form__textarea {
  @include form-text;
  color: $special-dark-grey;
  border: 1px solid $border-grey;
  width: 100%;
  height: 45px;

  &::placeholder {
    color: $special-dark-grey;
    opacity: 1;
  }
}

.form__label {
  @include form-text;
  color: $special-light-black;
}

.form__textarea {
  resize: none;
  min-height: 150px;
}
