.form__fieldset {
  border: none;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form__text,
.form__textarea {
  @include text;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $border-grey;

  &::placeholder {
    color: $special-dark-grey;
    opacity: 1;
  }
}

.form__textarea {
  resize: none;
  min-height: 150px;
}
