.header {
  display: block;
  text-align: center;

  @media #{$media-md} {
    display: flex;
    flex-direction: row;
  }

  @media #{$media-lg} {
    background-color: transparent;
    margin-bottom: -66px;
    z-index: 10;
  }
}

.header__logo {
  padding-top: 11px;
  padding-bottom: 6px;
  padding-right: 89px;

  @media #{$media-md} {
    padding: 0;
    margin-top: 5px;
  }
}
