.header {
  display: block;
  text-align: center;

  @media #{$media-md} {
    display: flex;
    flex-direction: row;
  }

  // @media #{$media-lg} {
  //   max-width: $desktop;
  //   padding-right: 110px;
  //   padding-left: 110px;
  // }
}

