.hero {
  color: $basic-white;
  background-color: $basic-green;
  margin-bottom: 22px;
  text-align: center;

  @media #{$media-md} {
    margin-bottom: 0;
  }

  @media #{$media-lg} {
    margin-bottom: 80px;
  }

  &--inside {
    text-align: inherit;
    color: $basic-black;
    background-color: $basic-white;
    margin-top: 25px;
    margin-bottom: 40px;

    @media #{$media-md} {
      margin-top: 65px;
      margin-bottom: 65px;
    }
  }

  // @media (min-width: $tablet) {
  //   color: $basic-black;
  // }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  // @media (min-width: $tablet) {
  //   font-size: 60px;
  //   line-height: 60px;
  // }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;

  // @media (min-width: $tablet) {
  //   font-size: 20px;
  //   line-height: 20px;
  // }

  &--form {
    line-height: 18px;
  }
}
