.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  background-color: $basic-white;
  text-transform: uppercase;
  position: relative;

  &--closed {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    left: 0;
    background-color: $special-light-grey;
    margin-left: calc((280px - 100vw) / 2);

    @media #{$media-md} {
      display: none;
    }
  }

  @media #{$media-md} {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media #{$media-md} {
    background-color: transparent;
  }
}

.nav-list__item {
  color: $basic-black;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;

  &:hover {
    color: rgba($basic-black, 0.6);
  }

  &:active {
    color: rgba($basic-black, 0.3);
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $special-light-grey;
    margin-left: calc((280px - 100vw) / 2);

    @media #{$media-md} {
      display: none;
    }
  }

  @media #{$media-md} {
    margin-right: 34px;
    padding: inherit;

    &:last-child {
      margin-right: inherit;
    }
  }

  &--index {
    @media #{$media-lg} {
      color: $basic-white;
    }
  }

  &--active {
    @media #{$media-md} {
      padding-bottom: 6px;
      border-bottom: 2px solid $basic-green;
    }
  }
}
