.nav {
  position: relative;

  @media #{$media-md} {
    margin-top: 23px;
  }
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  outline: none;
  border: none;
  right: 3px;
  top: -37px;
  z-index: 2;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;

  @media #{$media-md} {
    display: none;
  }

  &--closed {
    background-image: url("../img/burger.svg");
  }
}
