.tile {
  margin-bottom: 25px;

  @media #{$media-md} {
    margin-bottom: 45px;
  }

  @media #{$media-lg} {
    margin-bottom: 70px;
  }
}

.tile__list {
  @media #{$media-lg} {
    display: flex;
  }
}

.tile__card {
  background-color: $additional-grey;
  padding: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$media-md} {
    padding: 77px 33px 56px 55px;
    margin-bottom: 30px;
  }

  @media #{$media-lg} {
    margin-bottom: 0;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.tile__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media #{$media-md} {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media #{$media-lg} {
    margin-bottom: 70px;
  }
}

.tile__subtitle {
  @include index-subtitle;
  margin-bottom: 40px;

  @media #{$media-md} {
    margin-bottom: 50px;
  }

  @media #{$media-lg} {
    margin-bottom: 23px;
  }
}


.tile__link {
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  &:active {
    color: rgba($basic-black, 0.3);
  }

  &::after {
    position: absolute;
    content: "arrow";
    color: red;
    width: 32px;
    height: 10px;
    background-image: url("");
    // background-size: 32px 10px;
    // background-position: right;
    // background-repeat: no-repeat;
  }

  @media #{$media-md} {
    font-size: 20px;
    line-height: 30px;
  }
}
