.tile {
  margin-bottom: 25px;

  @media #{$media-md} {
    margin-bottom: 45px;
  }

  @media #{$media-lg} {
    margin-bottom: 70px;
  }
}

.tile__list {
  @media #{$media-lg} {
    display: flex;
  }
}

.tile__card {
  background-color: $additional-grey;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--cat-sit {
    background-image: url("../img/cat-sit.svg");
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: 21px 20px;
  }

  &--cat-walk {
    background-image: url("../img/cat-walk.svg");
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: 13px 25px;
  }

  @media #{$media-md} {
    padding: 77px 33px 56px 55px;
    margin-bottom: 30px;

    &--cat-sit {
      background-size: 200px 200px;
      background-position: 90% 50%;
    }

    &--cat-walk {
      background-size: 268px 200px;
      background-position: 93% 50%;
    }
  }

  @media #{$media-lg} {
    flex-basis: 570px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 80px;
    }

    &--cat-sit {
      background-size: 100px 100px;
      background-position: 55px 40px;
    }

    &--cat-walk {
      background-size: 134px 100px;
      background-position: 35px 45px;
    }
  }
}

.tile__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media #{$media-md} {
    padding-left: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media #{$media-lg} {
    padding-left: 160px;
    margin-bottom: 70px;
  }
}

.tile__subtitle {
  @include index-subtitle;
  margin-bottom: 40px;

  @media #{$media-md} {
    width: 375px;
    margin-bottom: 50px;
  }

  @media #{$media-lg} {
    width: 475px;
    margin-bottom: 23px;
  }
}


.tile__link {
  position: relative;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  &:active {
    color: rgba($basic-black, 0.3);
  }

  &::after {
    position: absolute;
    content: " ";
    width: 24px;
    height: 12px;
    top: 6px;
    left: 100px;
    background-image: url("../img/icon-arrow.svg");
  }

  @media #{$media-md} {
    font-size: 20px;
    line-height: 30px;
  }
}
