@mixin text {
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

@mixin index-subtitle {
  font-family: $add-font;
  color: $special-dark-grey;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  // @media (min-width: $tablet) {
  //   font-size: 16px;
  //   line-height: 24px;
  // }
}
