$basic-black: #000000;
$special-black: #111111;
$special-light-black: #222222;
$basic-white: #ffffff;
$basic-green: #68b738;
$special-green: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #ebebeb;
$special-dark-grey: #444444;
$additional-grey: #eaeaea;
$border-grey: #e7e7e7;

$main-font: "Oswald", "Arial", sans-serif;
$add-font: "Arial", sans-serif;

$tablet: 768px;
$desktop: 1440px;
