@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/heading.scss";
@import "./blocks/button.scss";
@import "./blocks/nav.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/tile.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/map.scss";
@import "./blocks/products.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/form.scss";
@import "./blocks/footer.scss";
@import "./blocks/copyright.scss";
@import "./blocks/social.scss";
